#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container form {
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

label,
input,
select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-weight: bold;
}