body {
    background-color: #f2f2f2;
}

h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

#container form {
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
}

.columna {
    flex: 1;
    margin-right: 10px;
}

h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%; 
}

label,
input,
select {
    width: 100%; 
    margin-bottom: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 0; 
    cursor: pointer;
    border-radius: 4px;
    width: 100%; 
    margin-top: 40px; 
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#almacen_id[disabled] {
    background-color: #c3bebe; 
    color: #808080; 
}


span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px; 
    position: relative; 
}

#generar_codigo {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
}
  
#generar_codigo:hover {
    background-color: #0056b3; 
}
  

.error {
    color: red; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    font-size: 14px;
}